@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey-dark: #1E1E1E;
  --navy: #121F33;
  --navy-medium: #333D4D;
  --red-medium: #F54242;
  --blue-medium: #4287F5;
  --green-medium: #48F542;
  --yellow-medium: #EFF542;
  --white: #FFFFFF;
  --offwhite: #E6E9EF;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Serif", serif;
  font-size: 1rem;
}

button {
  border: none;
  cursor: pointer;
}

.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 100vh;
}

.block-center {
  display: block;
  margin: auto;
}

.min-100vh {
  min-height: 100vh;
}

.main-padding {
  padding: 50px 150px;
}

.bg-gradient {
  background-color: var(--navy);
  background: radial-gradient(var(--red-medium), var(--blue-medium));
}

.bg-blue-medium {
  background-color: var(--blue-medium);
}

.bg-navy {
  background-color: var(--navy);
}

.bg-grey-dark {
  background-color: var(--grey-dark);
}

.bg-offwhite {
  background-color: var(--offwhite);
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-white {
  color: var(--white);
}

.font-weight-900 {
  font-weight: 900;
}

.heading-1 {
  font-size: 1.2rem;
  font-weight: 900;
}

.text-uppercase {
  text-transform: uppercase;
}

.grid-vertical-gap-10px {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-vertical-gap-20px {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.header-content {
  padding: 20px 150px;
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.header-content-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.header-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-content {
  padding: 20px 150px;
}

.listed-asteroid-container {
  border: solid 1px var(--navy);
  border-radius: 20px;
  padding: 20px;
}

.listed-asteroid-button {}

.listed-asteroid-name-section {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.listed-asteroid-details {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.listed-asteroid-details-separator {
  background-color: var(--navy);
  height: 2px;
  border: none;
  border-radius: 20px;
}

.listed-asteroid-details-section {
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 20px;
  align-items: start;
  justify-content: start;
  gap: 50px;
  width: 100%;
}

.listed-asteroid-orbit-class-type {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  width: 100%;
  margin-left: 20px;
}

.listed-asteroid-orbit-class-type-section {
  display: grid;
  grid-template-columns: max-content auto;
  row-gap: 20px;
  align-items: start;
  justify-content: start;
  gap: 50px;
  width: 100%;
}

#form-search {}

#form-search-content {
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#form-search-input {
  border: solid 1px var(--navy);
  border-radius: 10px;
  padding: 20px;
  outline: none;
}

#form-search-input::placeholder {
  color: var(--navy-medium);
}

#form-search-submit {
  background-color: var(--navy);
  color: var(--white);
  font-weight: 900;
  border: none;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.info-image-container {
  background-color: var(--navy);
  position: relative;
  height: 400px;
  width: calc(100vw - (150px * 2));
  border: none;
  border-radius: 10px;
}

.info-image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
}

.asteroids-loader-container {
  border: none;
  border-radius: 10px;
  display: block;
  margin: auto;
  position: relative;
  height: 250px;
  width: 250px;
}

.asteroids-loader {
  border: none;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.pagination-buttons-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.pagination-button{
  border: solid 1px var(--navy);
  border-radius: 5px;
  height: 30px;
  width: 30px;
  color: var(--navy);
}

.pagination-button-current{
  background-color: var(--navy);
  color: var(--white);
}