@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --grey-dark: #1E1E1E;
  --navy: #121F33;
  --red-medium: #F54242;
  --blue-medium: #4287F5;
  --green-medium: #48F542;
  --yellow-medium: #EFF542;
  --white: #FFFFFF;
  --black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}

button{
  border: none;
  cursor: pointer;
}

.min-100vh{
  min-height: 100vh;
}

.main-padding{
  padding: 50px 150px;
}

.bg-navy{
  background-color: var(--navy);
}

.bg-grey-dark{
  background-color: var(--grey-dark);
}

.text-center{
  text-align: center;
}

.text-justify{
  text-align: justify;
}

.text-white{
  color: var(--white);
}

.font-weight-900{
  font-weight: 900;
}

.heading-1{
  font-size: 1.2rem;
  font-weight: 900;
}

.grid-vertical-gap-10px{
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.grid-vertical-gap-20px{
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.header-content{
  padding: 20px 150px;
}

.header-logo-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.listed-asteroid-container{
  border: solid 1px var(--white);
  border-radius: 20px;
  padding: 20px;
}

.listed-asteroid-button{

}

.listed-asteroid-name-section{
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.listed-asteroid-details-separator{
  background-color: var(--white);
  height: 2px;
  border: none;
  border-radius: 20px;
  margin: 20px 0 20px 0;
}

.listed-asteroid-details-section{
  display: grid; 
  grid-template-columns: max-content auto;
  align-items: start;
  justify-content: start;
  gap: 50px;
  width: 100%;
}

#form-search{
  
}

#form-search-content{
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  gap: 10px;
  width: 100%;
}

#form-search-input{
  border: solid 1px var(--white);
  border-radius: 10px;
  padding: 20px;
  outline: none;
}

#form-search-submit{
  background-color: var(--blue-medium);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}